.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;

    img {
        width: 24px;
        height: 24px;
    }

    &:focus {
        outline: none;
    }
}
